@media (min-width: 320px) {
	.navbar-brand {
		margin-left: 10px;
	}
	.navbar-items {
		margin-right: 10px; 
	}
	.navbar-items .searchbox {
		display: none;
	}
	.calloutbox input {
		font-size: 23px;
	}
	.calloutbox a {
		text-align: center;
	}
	.calloutbox a img{
		display: block;
		margin: auto;
	}
	.calloutbox a span {
		display: block;
		margin-top: 5px;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.calloutbox a {
		text-align: auto;
	}
	.calloutbox a img{
		display: inline-block;
	}
	.calloutbox a span {
		display: inline-block;
		margin-left: 10px;
	}
	.navbar-brand {
		margin-left: 40px;
	}
	.navbar-items {
		margin-right: 40px; 
	}
	.navbar-items .searchbox {
		display: inline-block;
	}
	.searchbox input {
		width: 200px;
	}
	.calloutbox input {
		font-size: 30px;
	}
	.tabs li {
		padding: 0px 10px 18px 10px;
		margin-right: 30px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.banner > .row:first-child {
		background-repeat: repeat-x;
	}
}