$background-color: #ffffff;
$primary-color: #262728;
$secondary-color: #2daa8c;
$underline-color: #00cc99;
$gray-stronger: #575b62;
$gray-strong: #3f454d;
$gray-medium: #bec3cc;
$gray-soft: #c7ccd3;
$gray-light: #d8dbe0;

$navbar-bg-color: $primary-color;
$navbar-font-color: $gray-medium;

$calloutbox-bg-color: $secondary-color;
$calloutbox-font-color: $gray-light;

$widget-boder-color: #dee1e5;

$footer-font-color: #00b286;